
#topo{
   top:0;   

}

body { background-color: #ffffff; 
	text-align: justify;
	

}

h1 {
	color: #F8F8FF; 
	background-color: #A9A9A9;
	font-family: 'luckiest guy', cursive;
	font-size: 50px;
	text-decoration: overline;
	letter-spacing: 10px;
	text-transform: uppercase;
	padding: 20px 20px 20px 80px;
	text-align: center;
	margin:0;
    text-shadow: 2px 2px 8px black;
	
	
}


h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
    font-size: 35px;
    text-align: center;
	margin: 0;
    	
	
	
}



h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight:500;
	font-size: 20px;
	
	
	
}


h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	font-size: 22px;
	
	
	
	
}

h5 {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	text-decoration: underline;
	
}




p { 

   font-family: 'Merriweather Sans', sans-serif;
   font-size: 15px;
   
}


ul li { 

   font-family: 'Merriweather Sans', sans-serif;
   font-size: 15px;

}

#ulcurric { 

   font-family: 'Merriweather Sans', sans-serif;
   font-size: 15px;

}

i {
	font-size:30px;
	color:#0073B0;
	padding: 3px;
}

/* Float */

#imagemL {
  float: left;
  margin-right: 0px;
  margin-top: 0px;
}

#imagemR {
  float: right;
  margin-right: 30px;
}

.floatstop { clear:both; }


/*div.linha {
  width: 50%;
  border: 2px solid black;  
}*/

div.borda {
	border: 2px solid black;
    border-radius: 30px;
    padding: 10px;
  
}

div.borda2 {
  border: 2px solid black;
  border-radius: 30px;
  padding: 10px;
  width: 83.5%;
  margin: 0 0 0 15%;
 
}

.circle {
  background-color: #aaa;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  float: left;
  padding:5px;
  background-image: url("imagens/foto.jpg");
  background-repeat: no-repeat;
}

.circle img {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: inline-block;
  
}


/* Menu */

#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;	


	
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#menu li {
  float: left;
}

#menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
   font-size: 18px;
}

#menu li a:hover:not(.active) {
  background-color: #538cc6;
  
}

.active {
  background-color: #4CAF50;
 
  
}


